.benefits__item-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background: var(--bkg-color-light);
    border-radius: 4px;
}

.benefits__title{
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    // text-align: center;
    color: var(--title-color);
    font-size: 14px;
    margin-bottom: 10px;    
}
.benefits__description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 30px;
}
.benefits{
    padding-bottom: 0;
}
@media screen and (max-width: 767px){
    .benefits__item-card:not(:last-child){
        margin-bottom: 30px;
    }
    .benefits__title{
        text-align: center;
    }
}
@media screen and (min-width: 768px){
    .benefits__list{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    }
    .benefits__item{
        flex-basis: calc((100% - 30px) / 2);
    }
    .benefits__title{
        text-align: start;
    }
}
// .benefits__list{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
    
// }
// .benefits__item:not(:last-child){
//     margin-right: 30px;
// }

