.footer{ 
    background-color:  var(--background-color);
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0
}
.footer__container{
    display: flex;
    align-items: flex-start;
}
.footer__address{
    margin-right: 70px;
}
.footer__logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);      
}
.footer__logo-span{
    color: var(--text-color-white);
}
.address__list{
    margin-top: 20px;
}
.address__item{
    margin-bottom: 9px;
}
.address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
    transition: color var(--transition-dur-and-func);
}
.address__contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);        
}
.address__link:hover,
.address__link:focus,
.address__contacts:hover,
.address__contacts:focus{
    color: var(--accent-color);
}
.footer__social{
    justify-content: right;
}
.footer__socials-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    margin-bottom: 20px;
}
.footer__social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer__social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus{
    background-color: var(--accent-color);  
    }
}

.footer__social-icon{
    transition: fill var(--transition-dur-and-func);

    &{
        fill: var(--text-color-white);
    }
}

.footer__submit{ 
    margin-left: auto;
    padding-top: 12px;
}
.footer__submit-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    margin-bottom: 20px;
}
.footer__sbm-container{
    justify-content: right;
    gap: 12px;
}
.footer__input-email{
    align-items: center;
    justify-content: center;

    outline: none;
    border: none;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border-color var(--animation);
    cursor: pointer;
    padding: 15px 16px;
    color: var(--text-color-white);

    &::placeholder{
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer__submit-btn{
    gap: 8px;
    border-color: var(--accent-color);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    color: var(--text-color-white);
}