.footer{ 
    background-color:  var(--background-color);
}
.footer__logo{
    display: block;
    text-align: center;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);      
    }
.footer__logo-span{
    color: var(--text-color-white);
}
.address{
    margin-bottom: 60px;
}
.address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
    transition: color var(--transition-dur-and-func);
}
.address__link:hover,
.address__link:focus,
.address__contacts:hover,
.address__contacts:focus{
    color: var(--accent-color);
}
.address__list{
    text-align: center;
    margin-bottom: 8px;
}

.address__contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);        
}
.footer__socials-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-white);
    margin-bottom: 20px;
}
.footer__social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer__social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-func);
    margin-bottom: 60px;

    &:hover,
    &:focus{
    background-color: var(--accent-color);  
    }
}
.footer__social-icon{
    transition: fill var(--transition-dur-and-func);

    &{
        fill: var(--text-color-white);
    }
}
.footer__submit-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color-white);
    margin-bottom: 20px;
}
.footer__input-email{
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--background-dark);
    padding: 15px 16px;
    margin-bottom: 20px;

    &::placeholder{
        color: rgba(255, 255, 255, 0.6);
    }

}
.footer__submit-btn{
    display: block;
    margin: 0 auto;

    border-color: var(--accent-color);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.89;
    color: var(--text-color-white);
}
@media screen and (min-width: 768px){
    .footer__container{
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .footer__address{
        margin-right: 165px;
        margin-left: 60px;
    }
    .footer__submit{
        display: block;
        margin: 0 auto;
        width: 450px;
    }
}
@media screen and (min-width: 1200px){
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .footer__logo{
        font-size: 26px;
        line-height: 1.19;
        text-align: start;
    }
    .footer__address{
        margin-left: 0;
        margin-right: 70px;
    }
    .address__list{
        margin-bottom: 0;
        text-align: start;

        &:not(:last-child){
            margin-bottom: 9px;
        } 
    }
    .footer__socials-title{
        text-align: start;
    }
    .footer__social-list{
        margin-right: 93px;
    }
    .footer__submit{
        margin-left: 0;
        margin-right: 0;
    }    
    .footer__submit-text{
        display: block;
        text-align: start;
    }
    .footer__sbm-container{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 12px;
        width: 570px;
    }
    .footer__input-email{
        width: 358px;
        margin-bottom: 0;
    }
   
}





// .
// .address__list{
//     margin-top: 20px;
// }
// .address__item{
//     margin-bottom: 9px;
// }



// .footer__social{
//     justify-content: right;
// }






// .footer__submit{ 
//     margin-left: auto;
//     padding-top: 12px;
// }

// .footer__sbm-container{
//     justify-content: right;
//     gap: 12px;
// }
// .footer__input-email{
//     align-items: center;
//     justify-content: center;

//     outline: none;
//     border: none;
//     width: 358px;
//     height: 50px;
//     margin-right: 12px;
//     background-color: inherit;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     transition: border-color var(--animation);
//     cursor: pointer;
//     padding: 15px 16px;
//     color: var(--text-color-white);

//     &::placeholder{
//         color: rgba(255, 255, 255, 0.6);
//     }
// }

