.serves__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}
.serves__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.serves__list-item{
    flex-basis: calc((100% - 60px) / 3);
}
.serves__overlay{
    position: relative;
}
.serves__text-overlay{
    position: absolute;        
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-white);
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 80px;
}