:root{
    --accent-color:  #2196F3;
    --title-color: #212121;
    --background-color: #2F303A;
    --text-color: #757575; 
    --text-color-white: #FFFFFF;
    --bkg-color-light: #F5F4FA;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}